<li>
  <div class='answers'>
    <div class='count'>
      <span>1</span>
      resposta
    </div>
    <a class='lawyer' href='/'><img alt="" height="16" src="http://graph.facebook.com/100003922746457/picture?type=square" width="16" />Roberto</a>
  </div>
  <p class='requester'>
    <strong>Carlos Eduardo</strong>
    perguntou:
  </p>
  <h3><%= question.title %></h3>
  <p class='sent-at'><%= t("questions.published_at", :time => l(question.created_at, :format => :short)) %></p>
</li>