<% title t(".title") %>

<% content_for :sidebar do %>
  <%= render("shared/sidebar") %>
<% end %>

<h1><%= t(".container_title") %></h1>
  <div id="modal_form_container"></div>
<ul id='questions'>
  <% @questions.each do |question| %>
    <%= render question %>
  <% end %>
</ul>

<div class="digg_pagination">
  <%= will_paginate @questions %>
</div>

