<% if user_signed_in? %>
  <li><%= link_to "Logout", destroy_user_session_path, method:  :delete, class: "btn login" %></li>
<% else %>
  <li><%= link_to "Cadastro", new_user_registration_path, class: "btn signup" %></li>
  <li><%= link_to "Login", new_user_session_path, class: "btn login" %></li>
<% end %>
