<footer id="footer">
  <div class="container">
    <div class="row-fluid">
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="span6">
          <p>Alik <a href="/"> | Conselhos de Especialistas Quando Você Mais Precisa</a> | Copyright 2013 &copy;</p>
        </div>
      </div>
    </div>
  </div>
</footer>
