<footer id="footer">
  <div class="container">
    <div class="row-fluid">
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="span6">
          <p>Site template by <a href="#">AppStrap</a> | Copyright 2012 &copy; AppStrap</p>
        </div>
      </div>
    </div>
  </div>
</footer>
