<header>
  <div id='masthead'>
    <div id='sign-in'>
      Você é advogado?
      <a href="/auth/facebook">acesse com facebook</a>
    </div>
  </div>
  <div id='logo'><a href="http://0.0.0.0:4000/">Alik</a></div>
</header>
<hr>
