<div class="hero" id="highlighted"></div>
<div id="content-below" class="wrapper">
  <div class="container">
    <div class="row-fluid">
      <div class="upsell">
        <small class="muted">Você é advogado?
        </small>
        <%= link_to "Faça seu cadastro gratuitamente", new_user_registration_path, class: "btn btn-success" %>
         <small class="muted">ou você deseja que algum de nossos advogados responda suas perguntas?</small>
        <%= link_to "Faça sua pergunta para nossos advogados", new_question_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
