<div class="hero" id="highlighted">
  <div class="inner"> 
    <!--Static Banner-->
    <!-- <section class="static-banner container">
      <div class="row-fluid">
        <div class="span7"><%= image_tag "slides/slide1.png" %></div>
        <div class="span5 caption">
          <h2>AppStrap Bootstrap Theme</h2>
          <h4>By <a href="http://themelize.me">Themelize.me</a></h4>
          <p>Perfect for your App, Web service or hosting company!</p>
          <a href="#" class="btn btn-large btn-primary">Buy Now</a> </div>
      </div>
    </section> -->
  </div>
</div>