<div class="answers">
  <% if answer.evaluation.nil? %>
    <span class="no-rated">Não avaliada</span>
  <% end %>

  <div class="answer-profile">
    <%= link_to image_tag avatar_url(answer.user, 38), :class => "answer-avatar" %>
    <%= answer.user.username %>
  </div>
  <p class="when">
    <%= t("answer.published_at", :time => l(answer.created_at, :format => :short)) %>
  </p>
  
  <%= simple_format(answer.description) %>
</div>

