<li class="media row-fluid">
	<%= answer.linked_user_image %>
  <div class="span11 media-body">
    <ul class="inline meta muted">
      <li>
      	<i class="icon-calendar"></i>
      	<%= answer.published_at %>
      </li>
      <li><i class="icon-user"></i>
        <%= answer.linked_username %>
      </li>
    </ul>
    <%= answer.description_format %>
  </div>
</li>
