<% title t(".title") %>

<%= simple_form_for [@question, @answer] do |f| %>
  <h3 class="title-divider"><span>Nova Resposta</span></h3>

  <%= f.input :description, :as => :text, input_html: { class: "input-block-level", rows: "10" }, label: false, :hint => "Responda essa pergunta, e deixe a sua resposta ser avaliada." %>

  <div class="form-actions">
    <%= f.button :submit,  :class => "secondary button" %> ou
    <%= link_to "Cancelar", root_path %>
  </div>
<% end %>
