
#container {
  background-image: url("/assets/bg-container.png");

  -moz-box-shadow: 0 0 1px #ccc;
  -webkit-box-shadow: 0 0 1px #CCC;
  -ms-box-shadow: 0 0 1px #ccc;
  -o-box-shadow: 0 0 1px #ccc;
  box-shadow: 0 0 1px #CCC;

  -webkit-border-left-radius: 4px;
  -webkit-border-right-radius: 4px;
  -moz-border-radius-left: 4px;
  -moz-border-radius-right: 4px;
  border-left-radius: 4px;
  border-right-radius: 4px;
}

#main{
  background-color: #fff;
  border-right: 0.5px solid #CCC;
}
#header{
  margin-top:20px;
}

#footer{
  margin-top:20px;
}

#header-search{

  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #CCC;
  -ms-box-shadow: 0 0 10px #ccc;
  -o-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #CCC;
  
  border-top: 1px solid white;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid white;
  border-bottom: 1px solid #CCC;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #EFEFEF;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #EFEFEF));
}

#busca{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #FFFF;
}

div#busca h1{
  margin: .5em;
  text-align: center;
  font-size: 1.5em;
  color: #6792AB;
  font-family: 'Imprima', Helvetica, arial, sans-serif;
  text-shadow: 0 2px 0 white;
  letter-spacing: -1px;
}

#devise-menu{
	margin-top: 20px;
	padding: 0;
}

/* ESPECIFICOS */
#main h1{
  font-size: 2.2em;
  font-family: 'Imprima', Helvetica, arial, sans-serif;
  text-shadow: 0 2px 0 white;
  letter-spacing: -1px;
  color: #333;
}

#devise_form{
  margin-bottom: 20px;
}