#profile {
	margin-bottom: 25px;
	
  .avatar {
    border: solid 2px #999;
  }
  
  dt {
    width: 160px;
  }

  dd {
    margin-left: 5px;
  }

  dd p:first-child {
    margin-top: 0;
  }

  dd, dt {
    padding-top: 5px;
  }
}